<p id="placeholder-1" style="font-family: monospace">placeholder-1</p>
<p id="placeholder-2" style="font-family: monospace">placeholder-2</p>
<p id="placeholder-3" style="font-family: monospace">placeholder-3</p>

<script src="strsha256.js"></script>

<script>
window.addEventListener ('load', async function () {
	const a = "03470e580c2609c1037c08760ad203d5009303d4091605f8028b0e7e0e1d0a54"
	const b = "01d103d70c8301df068307ec06c003da0b53066d0227037e0a9005b706860a71"
	const hash_1 = await strsha256 (a)
	document.getElementById ('placeholder-1').innerText = hash_1
	const hash_2 = await strsha256 (a + b)
	document.getElementById ('placeholder-2').innerText = hash_2
	document.getElementById ('placeholder-3').innerText = strrnd256 ()
}, false)
</script>

